body {
    font-family: "Univers LT Std";
}
#name {
    font-size: 30px;
    font-weight: 700;
    padding-top: 60px;
    padding-left: 10px;
    color: #D893D5;
}
.container {
    display: flex;
    align-items: flex-start;
}

#image-container {
    position: relative;
    margin-left: auto;
}
#info {
    line-height: 2.25;
    font-size: 16px;
    font-weight: 400;
    padding-top: 65px;
    padding-left: 60px;
    color: black;
}
#pic {
    width: 549px;
    height: 462px;
}
#overlay-line {
    position: absolute;
    top: 60.5%;
    right: 0;
    left: 0;
    width: 98.8%;
    border: none;
    border-top: 2.5px solid black;
}
.section {
    color: #D893D5;
    font-size: 24px;
    font-weight: 350;
    letter-spacing: 1.15px;
    padding-top: 2px;
}
#uic {
    padding-top: 10px;
    padding-left: 165px;
    color: black;
    font-size: 18px;
}
#activities {
    color: black;
    padding-left: 160px;
    font-size: 18px;
    padding-top: 10px;
}
#awards {
    color: black;
    padding-left: 125px;
    font-size: 18px;
    padding-top: 10px;
}
#section-line {
    border-top: 2.5px solid black;
    margin-top: 55px;
}
.job {
    font-size: 18px;
}
#TA {
    padding-top: 10px;
    padding-left: 150px;
}
#BCC {
    padding-top: 10px;
    padding-left: 70px;
}
#mcd {
    padding-top: 10px;
    padding-left: 60px;
}
#inner-content {
    font-weight: 360;
    font-size: 16px;
}
#header {
    font-weight: bold;
}
#date {
    font-weight: bold;
    font-style: italic;
}